#hero-javascript {
  --js-default: 12 52 8;

  background: radial-gradient(rgb(var(--js-default)) -10%, rgb(var(--background)) 60%);
}

#hero-rust {
  --rust-default: 42 9 12;
  
  background: radial-gradient(rgb(var(--rust-default)) -10%, rgb(var(--background)) 60%);
}

#hero-kotlin {
  --kotlin-default: 29 39 42;
  
  background: radial-gradient(rgb(var(--kotlin-default)) -10%, rgb(var(--background)) 60%);
}

#hero-javascript,
#hero-rust,
#hero-kotlin {
  & h1 {
    border-bottom: .1rem solid var(--foreground-20-percent);
  }
}