#form-log-container {
  width: clamp(calc(var(--base-size) * 18.75), 100%, calc(var(--base-size) * 30));
  margin: auto;
  border-radius: calc(var(--base-size) * 1.5);
  border: .1rem solid var(--foreground-20-percent);
  
  & h1 {
    font-size: calc(var(--base-size) * 2.5);
    text-align: center;
    line-height: calc(var(--base-size) * 3.5);
    border-bottom: .1rem solid var(--foreground-20-percent);
  }
  
  & form {
    & label {
      font-size: calc(var(--base-size) * 1.125);
      display: flex;
      flex-direction: column;
      gap: calc(var(--base-size) * .5);
    }

    & label > div {
      display: flex;
      align-items: center;
      gap: calc(var(--base-size) * .5);
      padding: calc(var(--base-size) * .5);
      border-radius: calc(var(--base-size) * .375);
      border: .1rem solid var(--foreground-20-percent);
    }
    
    & input {
      font-size: var(--base-size);
      width: 100%;
    }

    & input[type=password] {
      font: small-caption;
      font-size: calc(var(--base-size) * 1.25);
      letter-spacing: calc(var(--base-size) * .25);
    }
    
    & input,
    & input:focus {
      outline: none;
      background: none;
    }

    & svg[data-name=daily-youth] {
      padding: calc(var(--base-size) * .125);
    }

    & button[type="submit"] {
      margin-top: var(--base-size);
    }
  }
}

