@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ==========================| COLORS |========================== */
  --primary-default: 136 22 0;
  --primary-content: 255 255 255;
  --primary-alt: 112 20 1;

  --secondary-default: 27 227 106;
  --secondary-content: 0 0 0;
  --secondary-alt: 20 173 80;

  --alert-default: 203 255 140;
  --alert-content: 0 0 0;
  --alert-alt: 184 230 128;
  
  --foreground: 255 255 255;
  --background: 0 0 0;
  --background-alt: 0 9 125;

  --box-shadow: 0 0 4px rgb(var(--foreground) / .15);
  --foreground-20-percent: rgb(var(--foreground) / .2);
  
  /* ==========================| SIZES |========================== */
  --base-size: clamp(.875rem, 2vw, 1rem);
  --web-site-content-boundary: clamp(18.75rem, 80%, 60rem);
  --main-header-height: calc(var(--base-size) * 4);
  --dialog-content-width: clamp(calc(var(--base-size) * 18.75), 80%, calc(var(--base-size) * 40));
  --burger-height: calc(var(--base-size) * 1.5);
  --base-border-radius: clamp(3px, 1vw, 5px);

  /* ==========================| TIMING |========================== */
  --smooth: .3s;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  min-height: 100vh;
  scrollbar-width: none;
}

h1 {
  font-size: calc(var(--base-size) * 4);
  font-weight: 700;
  line-height: calc(var(--base-size) * 5.125);
}
  
h2 {
  font-size: calc(var(--base-size) * 2.5);
  line-height: calc(var(--base-size) * 3.25);
  font-weight: 700;
}
  
h3 {
  font-size: calc(var(--base-size) * 1.75);
  line-height: calc(var(--base-size) * 2.5);
  font-weight: 700;
}

button {
  transition: background var(--smooth);
}

button:not([data-user=deconnexion]) {
  font-size: calc(var(--base-size) * 1.25);
}

button[data-user=deconnexion] {
  text-align: left;
}

dialog {
  width: var(--dialog-content-width);
  height: max-content;
  color: rgb(var(--foreground));
  background: rgb(var(--background));
  overflow: hidden;
  z-index: 10;
  border-radius: var(--base-border-radius);
  border: .1rem solid var(--foreground-20-percent);
  box-shadow: var(--box-shadow);

  &::backdrop {
    background: rgb(var(--background) / .85);
  }

  & > header,
  & > div {
    padding: calc(var(--base-size) * 1.5);
  }

  & > header {
    position: sticky;
    top: 0;
    background: var(--light);
    display: grid;
    justify-content: space-between;
    align-items: center;
    gap: var(--base-size);
    grid-template: 100% / auto max-content;
    border-bottom: .1rem solid var(--foreground-20-percent);

    & > button {
      position: relative;
      background: var(--foreground-20-percent);
      border-radius: 50%;
      width: calc(var(--base-size) * 2.125);
      aspect-ratio: 1 / 1;
      transition: background var(--smooth);
    }

    & > button:hover {
      background: rgb(var(--foreground) / .4);
    }

    & > button span {
      position: absolute;
      left: 50%;
      top: 50%;
      background: white;
      height: .1rem;
      width: 60%;
    }

    & > button span:nth-child(1) {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    & > button span:nth-child(2) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--base-size);
  }
}

.container {
  margin: auto;
  width: var(--web-site-content-boundary);
}

#main-header {
  position: sticky;
  height: var(--main-header-height);
  border-bottom: .1rem solid var(--foreground-20-percent);
  top: 0;
  z-index: 1;
  
  /* blur effect */
  -webkit-backdrop-filter: blur(var(--base-size));
  backdrop-filter: blur(var(--base-size));
  
  & .main-header-logotype {
    width: calc(var(--base-size) * 2.5);
    height: auto;
  }

  & .main-header-openweather-icon {
    background-color: rgb(var(--foreground) / .2);
    border-radius: 50%;
  }
  
  & .main-header-openweather-container {
    font-size: calc(var(--base-size) * .8);
  }
}

#burger {
  position: relative;

  & > button {
    display: flex;
    width: calc(var(--base-size) * 1.875);
    height: var(--burger-height);
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--base-size) * .3125);

    & > span {
      background: rgb(var(--foreground));
      height: .1rem;
      width: 100%;
      transition: var(--smooth);
    }
  }

  & > nav,
  & > nav > svg {
    position: absolute;
    transform: unset;
  }

  & > nav {
    width: max-content;
    top: calc(var(--burger-height) + 1.875rem);
    box-shadow: var(--box-shadow);
    z-index: 5;
    right: calc(var(--base-size) * -1);
  }

  & > nav > svg {
    top: calc(calc(var(--base-size) * -1) + .1rem);
    width: auto;
    height: var(--base-size);
    fill: var(--background);
    filter: drop-shadow(0px -2px 2px rgb(255 255 255 / .15));
    z-index: 6;
    right: calc(var(--base-size) * 1.25);
  }

  & > nav > svg polygon {
    width: 100%;
    height: auto;
  }

  & > nav.none {
    display: none;
  }
  
  & > nav ul {
    list-style: none;
  }
  
  & > nav > ul {
    overflow: hidden;
    border-radius: var(--base-border-radius);
    background: rgb(var(--background));
    box-shadow: var(--box-shadow);
  }

  & > nav > ul li a,
  & > nav > ul li form > button {
    transition: all var(--smooth);
  }

  & > nav > ul li form > button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: calc(var(--base-size) * .5);
  }

  & > nav > ul li:not(:last-child) {
    border-bottom: .1rem solid var(--foreground-20-percent);
  }

  & > nav > ul li a,
  & > nav > ul > li > div {
    display: block;
  }
  
  & > nav > ul li a,
  & > nav > ul li form > button,
  & > nav > ul > li > div {
    padding: calc(var(--base-size) * .5) calc(var(--base-size) * 1.25);
  }
  
  & > nav > ul li a:hover,
  & > nav > ul li form > button:hover,
  & > nav > ul > li > div:hover {
    background: rgb(var(--foreground) / .05);
  }

  & > nav > ul > li > div {
    display: flex;
    gap: var(--base-size);
    align-items: center;
    cursor: pointer;
  }

  & > nav > ul div.arrow {
    width: calc(var(--base-size) * .6);
    aspect-ratio: 1.25 / 1;
    background: rgb(var(--background) / .35);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform-origin: center center;
    transition: transform var(--smooth);
  }

  & > nav > ul div.arrow.up {
    transform: rotateZ(180deg);
  }

  & > nav > ul > li > ul {
    background: rgb(var(--background) / .05);
  }

  & > nav > ul > li > ul.none {
    display: none;
  }

  & > nav > ul > li > ul a {
    position: relative;
    padding-left: calc(var(--base-size) * 2);
  }

  & > nav > ul > li > ul a:before {
    content: "";
    position: absolute;
    height: 50%;
    width: calc(var(--base-size) * .1875);
    border-radius: calc(var(--base-size) * .09375);
    top: 50%;
    left: calc(var(--base-size) * 1.25);
    transform: translateY(-50%);
    background: var(--secondary-color);
  }
}

.line-1 {
  transform: rotate(-45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * .25));
}

.line-2 {
  opacity: 0;
}

.line-3 {
  transform: rotate(45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * -.25));
}

#quiz-games,
.hero-quiz,
.user-login,
.not-found {
  display: flex;
  align-items: center;
}

.hero-quiz,
.user-login,
.not-found,
.user-details {
  height: calc(100vh - var(--main-header-height));
}

#hero-banner {
  background: url(/img/stars.svg), radial-gradient(rgb(var(--background-alt)) -10%, rgb(var(--background)) 60%);

  & h1 {
    font-size: calc(var(--base-size) * 8);
    font-weight: 700;
    line-height: calc(var(--base-size) * 9);
  }
  
  & p {
    font-size: var(--base-size);
    line-height: calc(var(--base-size) * 2);
    font-weight: 500;
  }
}

#quiz-games {
  height: 100vh;
  position: relative;

  & form {
    display: grid;
    gap: var(--base-size);
  }

  & .select-container {
    --select-padding-right: 2.25;
    position: relative;
  
    & select,
    & select option {
      color: rgb(var(--primary-content));
      border-bottom: .1rem solid rgb(var(--foreground) / .2);
    }
    
    & select {
      width: 100%;
      background: rgb(var(--foreground) / .1);
      padding: calc(var(--base-size) * .75);
      padding-right: calc(var(--base-size) * var(--select-padding-right));
      -webkit-appearance: none;
      appearance: none;
    }
    
    & select option {
      background: rgb(var(--background));
    }

    & select option:hover {
      background: rgb(var(--foreground) / .2);
    }

    & .arrow {
      top: 50%;
      right: calc(calc(var(--base-size) * (var(--select-padding-right) / 2)) - calc(var(--base-size) * .75));
      position: absolute;
      width: calc(var(--base-size) * .75);
      aspect-ratio: 1.25 / 1;
      clip-path: polygon(0 0, 100% 0, 50% 100%);
      background: rgb(var(--foreground) / .2);
      transform: translate(-50%, -50%);
    }
  }

  .video-container {
    position: absolute;
    height: inherit;
    z-index: -1;
    width: 100%;
    
    & video,
    &::before {
      height: inherit;
      position: inherit;
      width: inherit;
    }

    & video {
      opacity: .15;
      object-fit: cover;
      z-index: -2;
    }
    
    &::before {
      content: "";
      display: block;
      height: inherit;
      background: radial-gradient(transparent -10%, rgb(var(--background)) 60%);
    }
  }
}

.social-media-links {
  opacity: .3;
  transition: opacity var(--smooth);
}

.social-media-links:hover {
  opacity: .8;
}

.not-found {
  & p {
    font-size: calc(var(--base-size) * 5);
    transform: rotateZ(-5deg);
    margin-bottom: calc(var(--base-size) * 3);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*=================================================| BREAKPOINTS |=================================================*/

@media screen and (min-width: 1200px) {
  #burger > nav,
  #burger > nav > svg {
    right: 50%;
    transform: translateX(50%);
  }
}

@media screen and (min-width: 500px) {
  .not-found {
    & p {
      font-size: calc(var(--base-size) * 10);
    }
  }
}

