@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* ==========================| COLORS |========================== */
  --foreground-rgb: 255 255 255;
  --background-rgb: 0 0 0;
  --foreground-opaque: 51 51 51;
  --box-shadow: 0 0 4px rgb(var(--foreground-rgb) / .15);
  --thin-line: rgb(var(--foreground-rgb) / .2);
  
  /* ==========================| SIZES |========================== */
  --base-size: clamp(14px, 2vw, 16px);
  --site-size: clamp(300px, 80%, 960px);
  --burger-height: calc(var(--base-size) * 1.5);
  --btn-border-radius: clamp(3px, 1vw, 5px);

  /* ==========================| TIMING |========================== */
  --smooth: .3s;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.container {
  margin: auto;
  width: var(--site-size);
}

.main-header {
  height: calc(var(--base-size) * 4);
  border-bottom: 1px solid var(--thin-line);
}

.header-logotype {
  width: calc(var(--base-size) * 2.5);
  height: auto;
}

.openweather-icon {
  background-color: rgb(var(--foreground-rgb) / .2);
  border-radius: 50%;
}

#burger {
  position: relative;

  & > button {
    display: flex;
    width: calc(var(--base-size) * 1.875);
    height: var(--burger-height);
    flex-direction: column;
    justify-content: space-between;
    padding: calc(var(--base-size) * .3125);

    & > span {
      background: rgb(var(--foreground-rgb));
      height: 1px;
      width: 100%;
      transition: var(--smooth);
    }
  }

  & > nav,
  & > nav > svg {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  & > nav {
    width: max-content;
    top: calc(var(--burger-height) + 30px);
    box-shadow: var(--box-shadow);
    z-index: 5;
  }

  & > nav > svg {
    top: calc(calc(var(--base-size) * -1) + 1px);
    width: auto;
    height: var(--base-size);
    fill: var(--background-rgb);
    filter: drop-shadow(0px -2px 2px rgb(255 255 255 / .15));
    z-index: 6;
  }

  & > nav > svg polygon {
    width: 100%;
    height: auto;
  }

  & > nav.none {
    display: none;
  }
  
  & > nav ul {
    list-style: none;
  }
  
  & > nav > ul {
    overflow: hidden;
    border-radius: var(--btn-border-radius);
    background: rgb(var(--background-rgb));
    box-shadow: var(--box-shadow);
  }

  & > nav > ul li a {
    transition: all var(--smooth);
  }

  & > nav > ul li:not(:last-child) {
    border-bottom: 1px solid var(--thin-line);
  }

  & > nav > ul li a,
  & > nav > ul > li > div {
    display: block;
    padding: calc(var(--base-size) * .5) calc(var(--base-size) * 1.25);
  }

  & > nav > ul li a:hover,
  & > nav > ul > li > div:hover {
    background: rgb(var(--foreground-rgb) / .05);
  }

  & > nav > ul > li > div {
    display: flex;
    gap: var(--base-size);
    align-items: center;
    cursor: pointer;
  }

  & > nav > ul div.arrow {
    width: calc(var(--base-size) * .6);
    aspect-ratio: 1.25 / 1;
    background: rgb(var(--background-rgb) / .35);
    clip-path: polygon(0 0, 50% 100%, 100% 0);
    transform-origin: center center;
    transition: transform var(--smooth);
  }

  & > nav > ul div.arrow.up {
    transform: rotateZ(180deg);
  }

  & > nav > ul > li > ul {
    background: rgb(var(--background-rgb) / .05);
  }

  & > nav > ul > li > ul.none {
    display: none;
  }

  & > nav > ul > li > ul a {
    position: relative;
    padding-left: calc(var(--base-size) * 2);
  }

  & > nav > ul > li > ul a:before {
    content: "";
    position: absolute;
    height: 50%;
    width: calc(var(--base-size) * .1875);
    border-radius: calc(var(--base-size) * .09375);
    top: 50%;
    left: calc(var(--base-size) * 1.25);
    transform: translateY(-50%);
    background: var(--secondary-color);
  }
}

.line-1 {
  transform: rotate(-45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * .25));
}

.line-2 {
  opacity: 0;
}

.line-3 {
  transform: rotate(45deg) translate(calc(var(--base-size) * -.3125), calc(var(--base-size) * -.25));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*=================================================| BREAKPOINTS |=================================================*/

@media screen and (max-width: 1200px) {
  #burger > nav,
  #burger > nav > svg {
      transform: unset;
  }

  #burger > nav {
      right: calc(var(--base-size) * -1);
  }

  #burger > nav > svg {
      right: calc(var(--base-size) * 1.25);
  }
}

