#news-article {
  & ul,
  & li {
    gap: calc(var(--base-size) * 2);
  }
  
  & ul {
    grid-template-columns: 1fr;
    display: grid;
    
    & li {
      display: flex;
      flex-direction: column;
      border: .1rem solid var(--foreground-20-percent);
      border-radius: calc(var(--base-border-radius) * 3);
    }

    & h3 {
      padding: 0 calc(var(--base-size) * 2);
      padding-top: calc(var(--base-size) * 2);
    }
    
    & img {
      width: 100%;
    }
    
    & a {
      padding: 0 calc(var(--base-size) * 2);
      padding-bottom: calc(var(--base-size) * 2);
    }

    & a:hover {
      text-decoration: underline;
      color: rgb(var(--secondary-default));
    }
  }
}

@media screen and (min-width: 1080px) {
  #news-article {
    & ul {
      grid-template-columns: 1fr 1fr;
    }
  }

}